body {
    background-color: #333;
    font-family: "Courier New", "Lucida Console", "Consolas", monospace;
    color: white;
    width: 70%;
    margin: 0 auto;
}

#headline {
    color: #e74c3c;
    text-align: center;
    font-size: 80px;
    text-shadow: 2px 2px 4px #000;
}

/* Align the label and button elements on the same line */
label,
select,
input,
button {
    display: inline-block;
    margin-left: 10px;
}

/* Make add operation button bigger */
button {
    padding: 8px 15px;
    background-color: #123;
    color: white;
    border: none;
    cursor: pointer;
}

#operationsList {
    position: relative;
    overflow: auto;
}

/* Put total time at the right place */
#totalTime {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-left: 10px;
}

/* operation name textbox */
#operationName
{
    width: 200px;
    height: 25px;
}

/* operation size textbox */
#operationSize
{
    width: 100px;
    height: 25px;
}

/* Change the background color and font size of list items when the user hovers over them */
li:hover {
    background-color: #555;
}
